---
# Only the main Sass file needs front matter (the dashes are enough)
---

@import 'reset';
@import 'mixins';
@import 'variables';
@import 'kindness';
@import 'home';
@import 'css-zen';
@import 'backyard-art';
@import 'magnific-popup';
@import 'blog';
@import 'goodreads';
@import 'effect1.css';

#home {
	overflow: scroll;


}

body {
	background-color: $cream;
	width: 100%;
	overflow: scroll;
	// -webkit-font-smoothing: antialiased;
}
	h1 {
		font-family: $header-font;
		text-transform: uppercase;
		// letter-spacing: -2.5px;
		font-weight: 700;
		-webkit-font-smoothing: antialiased;
	}

	h2 {
		font-family: $paragraph-font;
		font-size: 20px;
		color: $purple;
		font-style: italic;
		font-weight: 500;
		// -webkit-font-smoothing: antialiased;
	}

	h3 {
		font-family: $header-font;
		text-transform: uppercase;
		color: $orange;
		font-size: 28px;
		// letter-spacing: -2.5px;
		font-weight: 700;
		-webkit-font-smoothing: antialiased;

	}

	p {
		font-family: $paragraph-font;
		color: $purple;
		// -webkit-font-smoothing: antialiased;
	}

header {
	margin: 13px auto 0 auto;
	background-color: $purple;
	border-bottom: 4px solid $light-purple;
	border-top: 4px solid $light-purple;
	height: 45px;
	width: 100%;
	position: relative;
	top: 0;
	z-index: 2;

	.container {
		
		.title {
			display: none;
		}

		.image-wrapper {
			float: left;
			margin: 0 auto;
			margin-top: -20px;
			padding-left: 0px;
			text-align: center;

			.logo-image {
				background: url(../images/logo4.png) 0 0 no-repeat;
				background-size: 100%;
				background-position: center;
				// border-radius: 50%;
				height: 100px;
				width: 100px;
				// background-color: #f3eade;
				// border: 4px solid #90C5A9;
			}
		}

		nav {
			float: right; 
			padding: 15px 3px 20px 0;

			a {
				vertical-align: center;
				font-family: $header-font;
				font-size: 17px;
				text-transform: uppercase;
				// padding: 20px 0;
				text-decoration: none;
				color: $cream;
				margin: 5px;
				// letter-spacing: -2px;
				font-weight: 700;
				-webkit-font-smoothing: antialiased;
			}

			a:last-child {
				// margin-right: 10px;
			}
			a:hover {
				color: $seafoam;
				box-shadow: inset 0 -3px 0 $orange;
				
			}	
		}
	}
}

.banner {
	background-color: $cream;
	position: relative;
	border-bottom: 4px solid $purple;
}

.banner-image {
  	background:url(../images/head2.png) center center no-repeat;
  	background-size:contain;
  	position:relative;
  	height: 90vh;
  	width: 90%;
  	margin: 0 auto;
  	max-width: 400px;
}

.info {
	width: 100%;
	background-color: $cream;
	overflow: hidden;
	box-sizing: border-box;

	.info-left {
		background-color: $cream;
		top: 0px;

		.about-image {
			background: url(../images/about4.png) center center no-repeat;
			background-size: contain;
			height: 50vh;
			width: 50%;
			margin: 0 auto;
			max-width: 255px;
		}
	}

	.about-me {
		padding: 2%;
		background-color: $purple;
		h1 {
			font-family: $header-font;
			color: $seafoam;
			font-size: 32px;
			padding: 40px 10px 50px 10px;
			// letter-spacing: -2.5px;
		}

		p {
			clear: left;
			font-family: $paragraph-font;
			font-size: 16px;
			color: $cream;
			margin: 0 auto;
			padding: 10px 10px 10px 10px;;
			line-height: 1.75em;
			max-width: 520px;
		
			&:first-of-type {
				padding-top: 20px;
				padding-bottom: 10px;
				text-align: center;
				font-weight: 500;
				font-size: 18px;
				color: $cream;
				padding-left: 0;
				padding-right: 0;
			}
		}

		p:last-of-type {
			padding-top: 20px;
			padding-bottom: 50px;
		}

		.image-wrapper {
			// width: 90%;
		    margin: 0 auto;
		    text-align: center;
		    max-width: 370px;
		    padding-top: 50px;
		    // padding-bottom: 20px;

			.profile-pic {
				background: url(../images/pic1.jpg) 0 0 no-repeat;
				background-size: cover;
				width: 70%;
				padding-bottom: 70%;
				margin: 0 auto;
				border-radius: 100%;
				border: 4px solid $seafoam;
			}

			p {
				text-align: center;
				font-weight: 500;
				font-size: 19px;
				color: $purple;
			}
		}

		.contact {
			padding: 20px 2%;
			padding-bottom: 40px;
			max-width: 360px;
			margin: 0 auto;

			p {
				font-size: 17px;
			}

			.email, .github, .instagram, .dribbble, .twitter {
				float: left;
				width: 18%;
				margin-right: 2%;

				img {

					width: 100%;
					padding-bottom: 20%;
				}	
			}

			.twitter {
				margin-right: 0;
			}
		}
	}
}

.work {
	margin: 0 auto;
	width: 100%;
	box-sizing: border-box;
	overflow: hidden;

	h1 {
		font-family: $header-font;
		font-size: 60px;
		text-transform: uppercase;
		color: $cream;
		-webkit-font-smoothing: antialiased;
		margin-top: -380px;
		margin-bottom: 350px;
		text-align: center;
		text-shadow: 0 5px 1px rgba(0,0,0,.5);
	}
		

	h2 {
		font-family: $paragraph-font;
		font-size: 17px;
		color: $purple;
		font-style: italic;
		-webkit-font-smoothing: antialiased;
		display: none;
		// line-height: 20px;
	}

	a {
		text-decoration: none;
	}

	.work-left {
		// height: 459px;
		background-color: $cream;

		.work-image {
			background: url(../images/work.png) center center no-repeat;
			background-size: contain;
			height: 50vh;
			width: 50%;
			margin: 0 auto;
			max-width: 255px;
		}

		h4 {
			font-family: $paragraph-font;
			color: $purple;
			font-size: 16px;
			text-align: center;
			line-height: 160%;
			margin-top: -100px;

			&:last-of-type {
				margin-bottom: 100px;
				margin-top: 0;
			}
		}
	}

	.backyard-art, .kindness-project, .css-zen-garden, .goodreads {
		// border-bottom: 2px solid $light-purple;
		box-sizing: border-box;
		overflow: hidden;
		clear: left;
		// padding: 30px 0 30px 0;

		.image-wrapper {
			// border: 3px solid $purple;
			width: 100%;
			height: 100vh;
			// border-radius: 10px;

			.image {
				// border-radius: 5px;
			}
		}

		a:hover {

			.image-wrapper {
				// border: 3px solid $orange;
			}
		}
	}

	.backyard-art {
		// padding-top: 40px;
		
		.image-wrapper {
			// border: 3px solid $purple;
			// float: left;
			// margin-right: 2%;

			
			.image {
				background: url(../images/two.jpg) center center no-repeat;
				background-size: cover;
				// background-position: 100% 100%;
				width: 100%;
				height: 100vh;
			}
		}
	}

	.kindness-project {
		// clear: left;

		// h1, h2 {
		// 	text-align: right;
		// }

		h1 {
			margin-bottom: 300px;

		}

		.image-wrapper {
			// border: 3px solid $purple;
			// float: right;
			// margin-left: 2%;

			.image {
				background: url(../images/kind.jpg) center center no-repeat;
				background-size: cover;
				width: 100%;
				height: 100vh;
			}
		}
	}

	.css-zen-garden {
		// clear: right;

		.image-wrapper {
			// border: 3px solid $purple;
			// float: left;
			// margin-right: 2%;
			
			.image {
				background: url(../images/piet1.jpg) center center no-repeat;
				background-size: cover;
				width: 100%;
				height: 100vh;
			}
		}
	}

	.goodreads {
		// clear: left;
		// border-bottom: none;
	
		// h1, h2 {
		// 	text-align: right;
		// }

		h1 {
			margin-bottom: 300px;
		}

		.image-wrapper {
			// border: 3px solid $purple;
			// float: right;
			// margin-left: 2%;
			

			.image {
				background: url(../images/good1.jpg) center center no-repeat;
				background-size: cover;
				width: 100%;
				height: 100vh;
			}
		}
	}
}



footer {
	background-color: $purple;
	height: 45px;
	border-bottom: 4px solid $light-purple;
	border-top: 4px solid $light-purple; 
	box-sizing: border-box;
	clear: both;
	margin-top: -40px;
	

	.image-wrapper {
		// width: 78px;
		background: url(../images/logo6.png) 0 0 no-repeat;
		background-size: 100%;
		height: 65px;
		width: 95px;
		text-align: center;
		margin: 0 auto 0 auto;
		margin-top: -15px; 
	}
}

@media screen and (min-width: 660px) {

	header {
		height: 60px;
		margin-top: 13px;
		width: 100%;
		position: relative;
		// z-index: 99;
		// position: fixed;

		.container {

			.title {
				display: inline-block;
				font-family: $header-font;
				float: left;
				vertical-align: middle;
				width: 41%;

				h1 {
					text-align: left;
					padding: 16px 25px 10px 15px;
					font-size: 32px;
					text-transform: uppercase;
					color: $seafoam;
				}

				h3 {
					display: none;
				}
			}

			.image-wrapper {
				float: left;
				margin: 0 auto;
				margin: -25px auto 0 auto;
				padding-left: 0;

				.logo-image {
					height: 140px;
					width: 140px;
				}
			}

			nav {
				float: right;
				margin: auto auto;
				padding-top: 20px;
				margin-left: -5px;
				// padding-left: 20px;

				a {
					font-size: 22px;
				}

				a:last-child {
					margin-right: 15px;
				}
			}
		}
	}

	.banner {

		.banner-image {
			// margin-top: -20px;
			max-width: 500px;
			height: 90vh;

		}
	}

	.work {
		padding-bottom: 40px;
		// padding-top: 150px;
		// padding: 0px 20px;
		margin: 0 auto;
		width: 100%;
		box-sizing: border-box;
		// max-width: 1000px;
	}

	
	.info {
		margin-top: 40px;
		clear: both;
		margin: 0 auto;

		.about-me {
			margin: 0 auto;
			// width: 80%;

			h1 {
				font-size: 40px;
			}

			p {
			font-size: 18px;
			color: $cream;
			width: 80%;
			margin: 0 auto;
			}
		}

		.contact {
			width: 80%;
			margin: 0 auto;
		}
	}
}
@media screen and (min-width: 862px) {

	header {
		z-index: 99;
		position: relative;
		// position: fixed;
		height: 80px;
		
		.container {
			max-width: 1200px;
			margin: 0 auto;

			.title {
				// text-align: right;
				
				h1 {
					float: left;
					font-size: 35px;
					// padding-right: 50px;
					padding-top: 25px;
				}

				h3{
					float: left;
					text-align: left;
					display: block;
					font-size: 24px;
					// color: $cream;
					text-transform: uppercase;
					padding-top: 28px;
					margin-left: -10px;
					// padding-right: 50px;
				}
			}

			.image-wrapper {
				text-align: center;
				margin-top: -30px;

				.logo-image {
					height: 175px;
					width: 175px;
				}
			}

			nav {
				float: right;
				padding-top: 28px;
				// font-size: 10px;
				// margin-left: 15px;

				a {
					font-size: 24px;
					margin: 10px 0 10px 15px;
				}
			}
		}
	}

	.banner {
		z-index: 80;
		background-color: $cream;

		.banner-image {
			margin-top: 0;
			// max-width: 520px;
			height: 90vh;
		}
	}

	.info {
		overflow: hidden;
		position: relative;

		.info-left {
			float: left;
			width: 50%;
			position: fixed;
			// position: absolute;
			height: 135vh;
			// top: 0;
			//     z-index: 200;

			.about-image {
				margin-top: 100px;
			}
		}

		.about-me {
			position: relative;
			float: right;
			width: 50%;
			// padding: 10px 20px 10px 20px;
			// float: left;
			// width: 40%;
			// max-width: 600px;
			box-sizing: border-box;
			z-index: 100;

			h1 {
				font-size: 45px;
			}

			p {
				width: 100%;
			}

			p:first-of-type {
				font-size: 20px;
				// width: 90%;
			}

			.contact {
				max-width: 350px;

				.email, .github, .instagram, .dribbble, .twitter {
					width: 16%;
					margin-right: 5%;
				}

				.twitter {
					margin-right: 0;
				}

				.email {
					margin-left: 0;
				}
				
			}
		}

		
		
	}
	
	.work {
		// max-width: 1000px;
		margin-left: auto;
		margin-right: auto;

		position: relative;

		.work-left {
			float: right;
			width: 50%;
			height: 100vh;
			position: fixed;
			top: 0;
			right: 0;
			// margin: 10px 0 15px 0;

			.work-image {
				margin-top: 100px;
			}
		}

		#main {
			width: 50%;
			float: left;
			min-height: 200px;
			// clear: right;

		// .backyard-art, .kindness-project, .css-zen-garden, .goodreads {
		// 	width: 50%;
		// 	float: right;
		// 	// overflow: hidden;
		// 	clear: right;
			
		// }

		.kindness-project {
			h1 {
				margin-top: -450px;
			}
		}
	}

		
	}
	
	

	#footer {
		clear: both;
		// margin-top: 10px;
		z-index: 200;
		height: 45px;
		position: relative;	
	}


}

