---
# Only the main Sass file needs front matter (the dashes are enough)
---

@import 'reset';
@import 'mixins';
@import 'variables';
@import 'grid';
@import 'kindness';
@import 'css-zen';
@import 'backyard-art';
@import 'magnific-popup';

body {
	background-color: $cream;
	width: 100%;
	// -webkit-font-smoothing: antialiased;
}
	h1 {
		font-family: $header-font;
		text-transform: uppercase;
		// letter-spacing: -2.5px;
		font-weight: 700;
		-webkit-font-smoothing: antialiased;
	}

	h2 {
		font-family: $paragraph-font;
		font-size: 20px;
		color: $purple;
		font-style: italic;
		font-weight: 500;
		-webkit-font-smoothing: antialiased;
	}

	h3 {
		font-family: $header-font;
		text-transform: uppercase;
		color: $orange;
		font-size: 28px;
		// letter-spacing: -2.5px;
		font-weight: 700;
		-webkit-font-smoothing: antialiased;

	}

	p {
		font-family: $paragraph-font;
		color: $purple;
		// -webkit-font-smoothing: antialiased;
	}

header {
	margin: 13px auto 0 auto;
	background-color: $purple;
	border-bottom: 4px solid $light-purple;
	border-top: 4px solid $light-purple;
	height: 45px;
	width: 100%;

	.container {
		
		.title {
			display: none;
		}

		.image-wrapper {
			float: left;
			margin: 0 auto;
			margin-top: -20px;
			padding-left: 0px;
			text-align: center;

			.logo-image {
				background: url(../images/logo4.png) 0 0 no-repeat;
				background-size: 100%;
				background-position: center;
				// border-radius: 50%;
				height: 100px;
				width: 100px;
				// background-color: #f3eade;
				// border: 4px solid #90C5A9;
			}
		}

		nav {
			float: right; 
			padding: 15px 3px 20px 0;

			a {
				vertical-align: center;
				font-family: $header-font;
				font-size: 17px;
				text-transform: uppercase;
				// padding: 20px 0;
				text-decoration: none;
				color: $cream;
				margin: 5px;
				// letter-spacing: -2px;
				font-weight: 700;
				-webkit-font-smoothing: antialiased;
			}

			a:last-child {
				// margin-right: 10px;
			}
			a:hover {
				color: $seafoam;
				box-shadow: inset 0 -3px 0 $orange;
				// text-decoration: underline;
				// text-decoration-color: $orange;
			}	
		}
	}
}

.work {
	max-width: 515px;
	padding: 50px 1%;
	margin: 0 auto;
	width: 98%;

	h1 {
		font-family: $header-font;
		font-size: 32px;
		text-transform: uppercase;
		color: $seafoam;
		// padding-top: 20px;
		margin-bottom: 10px;
		-webkit-font-smoothing: antialiased;
		// line-height: 40px;
	}
			// letter-spacing: -3px;
		

	h2 {
		font-family: $paragraph-font;
		font-size: 18px;
		color: $purple;
		font-style: italic;
		// line-height: 20px;
	}

	a {
		text-decoration: none;
	}

	.backyard-art, .kindness-project, .css-zen-garden, .goodreads {
		
		.container {
			border-bottom: 2px solid $orange;
			box-sizing: border-box;
			overflow: hidden;
			padding: 40px 0 40px 0;

			.image-wrapper {
				width: 40%;
			}
		}

		.container a:hover {

			h1, h2 {
				box-shadow: inset 0 -3px 0 $orange;
			}

			.image-wrapper {
				border: 4px solid $orange;
			}
		}
	}

	.backyard-art {

		.image-wrapper {
			border: 4px solid $purple;
			float: left;
			margin-right: 2%;

			
			.image {
				background: url(../images/backyard-art.jpg) 0 0 no-repeat;
				background-size: cover;
				width: 100%;
				padding-bottom: 100%;
			}
		}
	}

	.kindness-project {
		clear: left;

		h1, h2 {
			text-align: right;
		}

		.image-wrapper {
			border: 4px solid $purple;
			float: right;
			margin-left: 2%;

			.image {
				background: url(../images/kindness.png) 0 0 no-repeat;
				background-size: cover;
				width: 100%;
				padding-bottom: 100%;
			}
		}
	}

	.css-zen-garden {
		clear: right;

		.image-wrapper {
			border: 4px solid $purple;
			float: left;
			margin-right: 2%;
			
			.image {
				background: url(../images/csszen.png) 0 0 no-repeat;
				background-size: cover;
				width: 100%;
				padding-bottom: 100%;
			}
		}
	}

	.goodreads {
		clear: left;

		.container {
			border-bottom: none;
		}

		h1, h2 {
			text-align: right;
		}

		.image-wrapper {
			border: 4px solid $purple;
			float: right;
			margin-left: 2%;
			

			.image {
				background: url(../images/goodreads2.png) 0 0 no-repeat;
				background-size: cover;
				width: 100%;
				padding-bottom: 100%;
			}
		}
	}
}

.info {
	clear: both;
	width: 100%;
	background-color: $purple;
	border-top: 4px solid $light-purple;
	padding: 1%;
	overflow: hidden;

	.about-me {
		h1 {
			font-family: $header-font;
			color: $seafoam;
			font-size: 32px;
			padding: 30px 10px 30px 10px;
			// letter-spacing: -2.5px;
		}

		p {
			font-family: $paragraph-font;
			font-size: 16px;
			color: $cream;
			padding: 10px 0px 5px 10px;;
			line-height: 160%;
			width: 90%;
		}
		p:last-child {
			padding-bottom: 20px;
		}

		.image-wrapper {
			width: 90%;
		    margin: 0 auto;
		    text-align: center;
		    max-width: 370px;


			.profile-pic {
				background: url(../images/pic2.jpg) 0 0 no-repeat;
				background-size: cover;
				width: 70%;
				padding-bottom: 70%;
				margin: 0 auto;
			}
		}
	}

	.contact {
		padding-bottom: 100px;

		.email, .github, .instagram, .dribbble, .twitter {
			float: left;
			width: 18%;
			margin-right: 2%;

			img {

				width: 100%;
				padding-bottom: 100%;
			}	
		}
	}
}

footer {
	background-color: $purple;
	height: 45px;
	border-bottom: 4px solid $light-purple;
	border-top: 4px solid $light-purple; 
	box-sizing: border-box;
	clear: both;
	// margin-top: 20px;

	.image-wrapper {
		// width: 78px;
		background: url(../images/logo6.png) 0 0 no-repeat;
		background-size: 100%;
		height: 70px;
		width: 100px;
		text-align: center;
		margin: 0 auto 0 auto;
		margin-top: -15px; 
	}
}

@media screen and (min-width: 660px) {

	header {
		height: 60px;
		margin-top: 13px;
		width: 100%;
		// z-index: 99;
		// position: fixed;

		.container {

			.title {
				display: inline-block;
				font-family: $header-font;
				float: left;
				vertical-align: middle;
				width: 41%;

				h1 {
					text-align: left;
					padding: 16px 25px 10px 15px;
					font-size: 32px;
					text-transform: uppercase;
					color: $seafoam;
				}

				h3 {
					display: none;
				}
			}

			.image-wrapper {
				float: left;
				margin: 0 auto;
				margin: -25px auto 0 auto;
				padding-left: 0;

				.logo-image {
					height: 140px;
					width: 140px;
				}
			}

			nav {
				float: right;
				margin: auto auto;
				padding-top: 20px;
				margin-left: -5px;
				// padding-left: 20px;

				a {
					font-size: 22px;
				}

				a:last-child {
					margin-right: 15px;
				}
			}
		}
	}

	.work {
		padding: 150px 20px;
		margin: 0 auto;
		width: 100%;
		box-sizing: border-box;

		.backyard-art, .kindness-project, .css-zen-garden, .goodreads {
			@include medium-screen;
		}

		.backyard-art, .css-zen-garden {
			clear: none;

			.container a:hover .image-wrapper {
				border: 4px solid $purple;
			}

			.container {
				float: left;
				padding-bottom: 20px;

				.image-wrapper {
					float: left;
				}

				h1, h2 {
					margin: 0 auto;
					width: 100%;
					text-align: center;
					clear: both;
					float: left;
					padding-right: 0;
				}
			}
		}

		.kindness-project, .goodreads {
			clear: none;

			.container a:hover .image-wrapper {
				border: 4px solid $purple;
			}
	
			.container {
				float: right;

				.image-wrapper {
					float: right;
				}
			}
			
			h1, h2 {
				margin: 0 auto;
				width: 100%;
				text-align: center;
				clear: both;
				float: right;
			}
		}

		.high-trek .container {

			padding-bottom: 80px;
		}
	}
	.info {
		margin-top: 40px;
		clear: both;
		margin: 0 auto;

		.about-me {
			margin: 0 auto;
			width: 80%;
		}

		.contact {
			width: 80%;
			margin: 0 auto;
		}
	}
}
@media screen and (min-width: 930px) {

	header {
		z-index: 99;
		position: fixed;
		height: 80px;
		
		.container {
			max-width: 1200px;
			margin: 0 auto;

			.title {
				// text-align: right;
				
				h1 {
					float: left;
					font-size: 35px;
					// padding-right: 50px;
					padding-top: 25px;
				}

				h3{
					float: left;
					text-align: left;
					display: block;
					font-size: 24px;
					// color: $cream;
					text-transform: uppercase;
					padding-top: 28px;
					margin-left: -10px;
					// padding-right: 50px;
				}
			}

			.image-wrapper {
				text-align: center;
				margin-top: -30px;

				.logo-image {
					height: 175px;
					width: 175px;
				}
			}

			nav {
				float: right;
				padding-top: 28px;
				// font-size: 10px;
				// margin-left: 15px;

				a {
					font-size: 24px;
					margin: 10px 0 10px 15px;
				}
			}
		}
	}
	
	.work {
		// max-width: 1300px;
		margin-top: 0px;
		padding-top: 180px;
		overflow: hidden;
		box-sizing: border-box;

		h1, h2 {
			display: none;
		}

		// a:hover {
		// 	h1 {
		// 		display: inline-block;
		// 		margin-top: -100px;
		// 	}
		// }

		.backyard-art, .kindness-project, .css-zen-garden, .goodreads {
			.container {
				width: 50%;

				.image-wrapper {
					width: 100%;
				}

			}
		}
	}
	
	.info {
		overflow: hidden;

		.about-me {
			padding: 35px 20px 0 10px;
			float: left;
			width: 40%;
			max-width: 600px;
			box-sizing: border-box;

			p {
				width: 100%;
			}
		}

		.social-media {
			padding-top: 40px;
			float: left;
			width: 20%;

		}

		.contact {
			padding-top: 10px;
			float: right;
			// width: 50%;
			max-width: 700px;
			padding-bottom: 20px;
			width: 40%;
			padding-left: 0;

			h1 {
				padding-top: 30px;
			}
		}
	}

	footer {
		
		height: 45px;	
	}	
}

