@import 'reset';
@import 'mixins';
@import 'variables';

body {
	background-color: $cream;
	width: 100%;
}

header {
	margin: 13px auto 0 auto;
	background-color: $purple;
	border-bottom: 4px solid $light-purple;
	border-top: 4px solid $light-purple;
	height: 60px;
	width: 100%;

	.container {
		
		.title {
			display: none;
		}

		.image-wrapper {
			float: left;
			margin-top: -15px;
			padding-left: 15px;

			.logo-image {
				background: url(../images/logo2.png) 0 0 no-repeat;
				background-size: 80%;
				background-position: center;
				border-radius: 50%;
				height: 105px;
				width: 105px;
				background-color: #f3eade;
				border: 4px solid #90C5A9;
			}
		}

		nav {
			float: right; 
			padding: 20px 10px 20px 0;

			a {
				vertical-align: center;
				font-family: $header-font;
				font-size: 20px;
				text-transform: uppercase;
				padding: 20px 0;
				text-decoration: none;
				color: $cream;
				padding: 5px;
			}

			a:last-child {
				padding-right: 10px;
			}
			a:hover, a:link {
				color: $seafoam;
			}	
		}
	}
}

footer {

		.image-wrapper {
			width: 78px;
			margin: -43px auto 0 auto; 
			
			img {
				border-radius: 50%;
				height: 90px;
				width: 90px;
				background-color: #f3eade;
				border: 3px solid #90C5A9;
				padding: 8px;
				margin: 0 auto;
				box-sizing: border-box;
			}
		}
	}