
<footer id="footer">
    <a href="{{ site.baseurl }}/portfolio.html/#top">
    <div class="image-wrapper">
    </div>
      </a>
    
  </footer>

  <script>
  $(document).ready(function(){
    $('#sidebar').stickyMojo({footerID: '#footer', contentID: '#main'});
  });
</script>
  </body>
<script src="http://code.jquery.com/jquery-2.1.4.min.js"></script>
<script src="{{ site.baseurl }}/js/jquery.magnific-popup.js"></script>
<script src="{{ site.baseurl }}/js/stickyMojo.js"></script>
<script type="text/javascript" src="{{ site.baseurl }}/js/main.js"></script>

