<header class="site-header">

  <div class="wrapper container">
        <a href="{{ site.baseurl }}/index.html"><div class="title">
          <h1>Emily DeVoll</h1>
          <h3>Product Designer</h3>
        </div></a>

        <div class="image-wrapper"><a href="{{ site.baseurl }}/index.html">
          <div class="logo-image"></div>
        </a></div>
    <nav class="site-nav">

      <div class="trigger">
      <a href="{{ site.baseurl }}/">Home</a>
      <a href="{{ site.baseurl }}/#about">About</a>
      <a href="{{ site.baseurl }}/#work">Work</a>
      </div>
    </nav>

  </div>

</header>
