.backyard {
  padding: 50px 10px 20px 10px;
  margin: 0 auto;

  h1 {
    font-family: $header-font;
    font-size: 32px;
    color: $seafoam;
    padding-bottom: 10px;
  }

  h2 {
    padding-bottom: 30px;
  }

  h3 {
      padding: 40px 0 25px 0;
    }

  p {
    font-family: $paragraph-font;
    color: $purple;
    font-size: 15px;
    line-height: 160%;
    margin: 0 auto;
    padding-bottom: 10px;
    text-indent: 20px;
  }

  .backyard-about{
    margin: 0 auto;

    .parent-container1 {
      margin: 0 auto;
      // width: 300px;
      margin-bottom: 10px;
      margin-top: 5px;
      text-align: center;
      
      img {
        margin: 0 auto;
        height: 200px;
      }

      &:last-of-type {

        img {
          height: 300px;
        }
      }
    }

    p {
      clear: left;
    }
  }

  .backyard-research {

    p:first-of-type {
      padding-top: 10px;
    }

    .parent-container2 {
      margin: 0 auto;
      text-align: center;
      
      img {
        height: 128px;
        max-width: 100%;
        text-align: center;
      }
    }
  }

  .backyard-design {
    margin: 0 auto;

    p {
      clear: both;
      padding-top: 5px;

      &:first-of-type {
        padding-top: 10px;
      }

      a {
        color: $purple;
        text-decoration: none;
        font-style: italic;
        border-bottom: 2px solid $orange;
      }

      a:hover {
        color: $seafoam;
      }
    }

    p:first-of-type {
      padding-top: 10px;
    }

   

    span {
      font-style: italic;
    }

    .parent-container{
      margin: 0 auto;
      text-align: center;

      img {
        height: 100px;
        max-width: 100%;
        text-align: center;
      }
    }

    .parent-container3 {
      margin: 0 auto;
      text-align: center;
      padding-top: 10px;

      img {
        height: 150px;
        max-width: 100%;
        text-align: center;
      }
    }
  }

  .backyard-icons {
    margin: 0 auto;

    p {
      clear: both;
      padding-top: 5px;
    }

    p:first-of-type {
      padding-top: 10px;
    }

    .parent-container4 {
      margin: 0 auto;
      text-align: center;

      img {
        height: 73px;
        max-width: 100%;
        text-align: center;
      }
    }
  }

  .backyard-more {
    padding-bottom: 40px;

    h3 {
      padding: 30px 0 20px 0;
    }

    a {
      font-family: $paragraph-font;
      font-style: italic;
      font-size: 18px;
      text-decoration: none;
      color: $purple;
      margin: 20px 5% 0 0;
      border-bottom: 2px solid $orange;
    }

    a:hover {
      border-bottom: 2px solid $orange;
      color: $seafoam;

    }
  }
}

@media screen and (min-width: 660px) {
 
  .backyard {
    padding: 50px 20px 20px 20px;

    h1 {
      font-size: 35px;
    }

    p {
      font-size: 16px;
    }
    
    .backyard-about {
      width: 90%;
      max-width: 660px;
      
      .parent-container1:first-of-type {
        padding-right: 20px;
        float: left;
        margin-bottom: 0;
      }

      .parent-container1:last-of-type {
        margin-right: -20px;
        padding-left: 10px;
        margin-top: -45px;
        padding-top: 20px;
        float: right;
        margin-bottom: 0;
        width: 100px;
        text-align: right;
      }

      p {
        padding-left: 3%;
        clear: none;
        // padding-top: 10px;
        font-size: 17px;
      
        &:first-of-type {
          padding-top: 30px;
        }

        // &:nth-of-type(2) {
        //   text-indent: 0px;
        // }
      }
    }

    .backyard-research {
      clear: both;

      // h3 {
      //   padding-top: 40px;
      // }

      .parent-container2 {
        img {
          height: 230px;
        }
      }
    }

    .backyard-design {

      .parent-container, .parent-container3 {
        img {
          height: 180px;
        }
      }
    }

    .backyard-icons {

      .parent-container4 {
        img {
          height: 100px;
        }
      }
    }
  }
}

@media screen and (min-width: 862px) {

  #portfolio-pages {
    position: absolute;
  }

  .backyard {
    padding-top: 160px;
    max-width: 850px;

    h1 {
      font-size: 45px;
    }

    h2 {
      font-size: 22px;
    }

    h3 {
      font-size: 35px;
    }

    p {
      font-size: 16px;
    }

    .backyard-about {
      padding-top: 10px;
      max-width: 700px;

      p {
        font-size: 17px;
      
      &:nth-of-type(2) {
        text-indent: 0px;
      }

      }

      .parent-container1:first-of-type {

        img {
          height: 230px;
        }
      }
    }

    .backyard-design {

      .parent-container, .parent-container3 {
        
        img {
          height: 230px;
        }
      }
    }

    .backyard-icons {
      
      .parent-container4 {
        
        img {
          height: 140px;
        }
      }
    }
  }
}
