.css-zen {
  max-width: 480px;
  padding: 50px 10px 20px 10px;
  margin: 0 auto;

    h1 {
        font-family: $header-font;
        font-size: 36px;
        color: $seafoam;
        padding-bottom: 10px;
    }

    h2 {
        padding-bottom: 30px;
    }

    h3 {
        font-size: 32px;
        padding: 50px 0 25px 0;
    }

    p {
        font-family: $paragraph-font;
        color: $purple;
        font-size: 16px;
        line-height: 160%;
        margin: 0 auto;
        padding-bottom: 20px;
    
        // text-indent: 20px;

        a {
            color: $purple;
            text-decoration: none;
            font-style: italic;
            // border-bottom: 2px solid $orange;
            font-weight: 500;
            box-shadow: inset 0 -3px 0 $orange;

        }

        a:hover {
            border-bottom: 2px solid $orange;
            color: $seafoam;
        }
    }


    .css-zen-about{
        margin: 0 auto;
        padding-top: 20px;

            p:first-of-type {
                padding-top: 10px;
            }

        .parent-container1 {
            margin: 0 auto;
            // width: 300px;
            margin-bottom: 20px;
            margin-top: 5px;
            text-align: center;
      
            img {
                margin: 0 auto;
                height: 600px;
            }
          
            &:last-of-type {

                img {
                  display: none;
                }
            }
        }
    }

    .css-zen-research {
        clear: both;

        p:first-of-type {
          padding-top: 10px;
        }

        .parent-container2 {
            margin: 0 auto;
            text-align: center;
            padding: 10px 0;
              
            img {
                height: 146px;
                max-width: 100%;
                text-align: center;
            }
        }
    }

    .css-zen-design {

        span {
            font-style: italic;
        }

        p:first-of-type {
            padding-top: 10px;
        }

        .parent-container {
            padding: 10px 0;
            margin: 0 auto;
            text-align: center;
              
            img {
                height: 101.9px;
                max-width: 100%;
            }
        }
    }

  .css-zen-more {
    padding-bottom: 40px;

    h3 {
      // padding: 40px 0 20px 0;
    }

    a {
      font-family: $paragraph-font;
      font-style: italic;
      font-size: 18px;
      text-decoration: none;
      color: $purple;
      margin: 20px 5% 0 0;
      // border-bottom: 2px solid $orange;
      line-height: 40px;
      font-weight: 500;
      box-shadow: inset 0 -3px 0 $orange;
      // -webkit-font-smoothing: antialiased;
    }

    a:hover {
      border-bottom: 2px solid $orange;
      color: $seafoam;
    }
  }
}

@media screen and (min-width: 660px) {
 
    .css-zen {
        max-width: 580px;
        padding: 50px 20px 20px 20px;

        h1 {
            font-size: 36px;
            clear: both;
        }

        h3 {
            font-size: 34px;
        }

        p {
            font-size: 16.5px;
        }
        
        .css-zen-about {
            width: 100%;
          
            .parent-container1:first-of-type {
                padding-right: 2%;
                float: left;
                margin-bottom: 0;

                img {
                    height: 380px;
                }
            }

            .parent-container1:last-of-type {
                padding-left: 1.1%;
                float: left;
                margin-bottom: 0;

                img {
                    display: inline-block;
                    height: 380px;
                }
            }

            .middle {
                float: left;
                width: 58%;
                margin: 0 1%;

                p {
                    clear: none;
            
                    &:first-of-type {
                    // padding-top: 30px;
                    }
                }
            }
        }
        .css-zen-research {
            clear: both;

            .parent-container2 {
                padding: 15px 0;
                  
                img {
                    height: 280px;
                }
            }
        }

        .css-zen-design {

            .parent-container {
                padding: 15px 0;

                img {
                    height: 199px;
                }
            }
        }
    }

    .css-zen-challenges {

        h3 {
            padding-bottom: 40px;
        }
    }
}

@media screen and (min-width: 862px) {

    .css-zen {
        padding-top: 160px;
        max-width: 650px;

        h1 {
            font-size: 45px;
        }

        h2 {
            font-size: 22px;
        }

        h3 {
            font-size: 38px;
        }

        p {
             font-size: 17px;
        }

        .css-zen-about {
            padding-top: 20px;
            max-width: 630px;
            padding-bottom: 10px;

            p {
                font-size: 17px;

                &:first-of-type {
                    padding-top: 0;
                }
            }

            .middle {
                width: 55%;
                margin: 1% 3%;
            }

            .parent-container1 {

                &:first-of-type {

                    img {
                        height: 390px;
                    }
                }

                &:last-of-type {
                    padding-left: 1%;

                    img {
                        height: 390px;
                    }
                }
            }
        }

        .css-zen-research {

            .parent-container2 {
                padding: 20px 0;

                img {
                    height: 280px;
                }
            }
        }

        .css-zen-design {

            .parent-container {
                padding: 20px 0;
            
                img {
                    height: 221px;
                }
            }
        }
    }
}
