#home {
	height: 100%;
	overflow: hidden;
	background-color: $cream;
			box-sizing: border-box;

	.background {
		text-align: center;
		overflow: hidden;
		box-sizing: border-box;
	
		.image-wrapper {
			width: 100%;
			margin: 0 auto;
			padding-top: 15%;
		

		.background-image {
			background: url(../images/name4.png) center center no-repeat;
			background-size: contain;
			width: 100%;
			padding-bottom: 100%;
			margin: 0 auto;


		}
	}

		h2 {
			font-family: $paragraph-font;
			color: $purple;
			font-size: 18px;
			text-align: center;
			text-transform: uppercase;
			font-weight: 700;
			padding-bottom: 50%;
			position: fixed;
			top: 10%;
			left: 50%;
			margin: 0 auto;
			top: 5%; left: 0; bottom: 0; right: 3%;
			font-style: normal;

		}

		.home-nav {
			position: fixed;
			bottom: 0;
			left: 50%;
			margin: 0 auto;
			 left: 0; bottom: 3%; right: 5%;

			a {
				font-family: $paragraph-font;
				color: $purple;
				font-size: 16px;
				text-align: center;
				text-transform: uppercase;
				text-align: center;
				margin: 0 auto;
				text-decoration: none;
				font-weight: 700;
				margin: .5%;

				span {
					margin-left: 1%;
				}

			}
		}
	}
}

@media screen and (min-width: 660px) {
	#home {
		.background {
		text-align: center;
		overflow: hidden;
		box-sizing: border-box;
	
			.image-wrapper {
				width: 80%;
				margin: 0 auto;
			

			.background-image {
				background: url(../images/name1.png) center 0 no-repeat;
				background-size: contain;
				width: 100%;
				padding-bottom: 100%;
				margin: 0 auto;

			}
		}

			h1 {
				padding-top: 30px;
				font-family: $header-font;
				color: $seafoam;
				font-size: 50px;
				text-align: center;
				text-transform: uppercase;
				font-weight: 700;
				position: fixed;
				top: 0;
				left: 35%;
			}

			h2 {
				font-family: $paragraph-font;
				color: $purple;
				font-size: 30px;
				text-align: center;
				text-transform: uppercase;
				font-weight: 700;
				padding-bottom: 50%;
				position: fixed;
				top: 10%;
				left: 50%;
				margin: 0 auto;
				top: 5%; left: 0; bottom: 0; right: 3%;
				font-style: normal;

			}

			.home-nav {
				position: fixed;
				bottom: 0;
				left: 50%;
				margin: 0 auto;
				 left: 0; bottom: 3%; right: 5%;

				a {
					font-family: $paragraph-font;
					color: $purple;
					font-size: 25px;
					text-align: center;
					text-transform: uppercase;
					text-align: center;
					margin: 0 auto;
					text-decoration: none;
					font-weight: 700;
					margin: .5%;

					span {
						margin-left: 1%;
					}

				}
			}
		}

	}
}