$header-font: 'Fjalla One', sans-serif;

$paragraph-font: 'Poppins', sans-serif;

$cream: #F9F5EF;
$purple: #382655;
$seafoam: #AFE1C7;
$red: #EF484F;
$orange: #ED6A60;
$light-purple: #5F607C;
$dusty-seafoam: #7E9E99;
$light-orange: #F7CA8E;
