// $header-font: 'Fjalla One', sans-serif;
$header-font: 'Oswald', sans-serif;
// $paragraph-font: 'Lato', sans-serif;
// $paragraph-font: 'Open Sans', sans-serif;
// $paragraph-font: 'cantarell', sans-serif;
$paragraph-font: 'Droid Serif', serif;

$cream: #F3EADE;
$purple: #432E63;
$seafoam: #90C5A9;
$red: #EF484F;
$orange: #FFA54B;
$light-purple: #5F607C;
$dusty-seafoam: #7E9E99;
$light-orange: #F7CA8E;